@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Login and register */
body {
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.fas {
    width: 32px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #374151;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    animation: square 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}

@keyframes square {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

.box .square:nth-child(1) {
    width: 100px;
    height: 100px;
    top: -15px;
    right: -45px;
}

.box .square:nth-child(2) {
    width: 150px;
    height: 150px;
    top: 105px;
    left: -125px;
    z-index: 2;
}

.box .square:nth-child(3) {
    width: 60px;
    height: 60px;
    bottom: 85px;
    right: -45px;
    z-index: 2;
}

.box .square:nth-child(4) {
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: -95px;
}

.box .square:nth-child(5) {
    width: 50px;
    height: 50px;
    top: -15px;
    left: -25px;
}

.box .square:nth-child(6) {
    width: 85px;
    height: 85px;
    top: 165px;
    right: -155px;
    z-index: 2;
}

.containerLogin {
    position: relative;
    padding: 50px;
    width: 260px;
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
}

.containerLogin::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 2%);
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.form h2 {
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.form .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.form .inputBx input {
    width: 80%;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    padding-left: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBx .password-control {
    position: absolute;
    top: 11px;
    right: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
    transition: 0.5s;
}

.form .inputBx .view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
    transition: 0.5s;
}

.form .inputBx .fas {
    position: absolute;
    top: 13px;
    left: 13px;
}

.form .inputBx input[type="submit"] {
    background: #fff;
    color: #111;
    padding: 8px 10px;
    box-shadow: none;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1.5s;
}

.form .inputBx input[type="submit"]:hover {
    background: linear-gradient(115deg, rgba(0, 0, 0, 0.10), rgba(255, 255, 255, 0.25));
    color: #fff;
    transition: 0.5s;
}

.form .inputBx .imageSelector {
    display: inline-block;
    cursor: pointer;
    width: 80%;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    padding-left: 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

#imageSelector {
    display: none;
}

.imageName {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}

.form .inputBx input::placeholder {
    color: #fff;
}

.form .inputBx span {
    position: absolute;
    left: 30px;
    padding: 10px;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    pointer-events: none;
}

.form .inputBx input:focus~span,
.form .inputBx input:valid~span {
    transform: translateX(-30px) translateY(-25px);
    font-size: 12px;
}

.form .createAccount {
    font-size: 12px;
    color: white;
}

.form .createAccount span {
    font-weight: bold;
}

.form .createAccount span:hover {
    cursor: pointer;
}


/* DashBoard */

.back {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: hidden;
}

.bar {
    background-color: #1F2937;
    width: 18%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #374151;
}

.barMenu {
    height: 95%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.barBottom {
    height: 5%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
    border-top: 1px solid #374151;
    display: flex;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer:hover {
    cursor: default;
}

.titleImage {
    width: 20%;
    border-radius: 100%;
}

.title {
    color: aliceblue;
}

.category {
    color: #7CA3AF;
    padding: 30px 0;
}

.button {
    width: 93%;
    padding: 10px;
    color: #6B7280;
    border-radius: 3px;
    margin: 5px 0px;
    cursor: pointer;
}

.barBottom .button {
    margin: 0;
}

.button i {
    margin-right: 10px;
}

.logout {
    margin: 30px 0px;
    background-color: #2A3748;
}

.active,
.button:hover {
    background-color: #4F46E5;
    color: aliceblue;
}

.panel {
    width: 82%;
    background-color: #111827;
    color: aliceblue;
}

.top {
    height: 7%;
    background-color: #1F2937;
    border-bottom: 1px solid #374151;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchBox {
    position: relative;
    width: 20%;
}

.searchBox input {
    width: 100%;
    margin: 10px;
    outline: none;
    border: none;
    border: 1px solid #374151;
    background: #111827;
    padding: 10px 10px;
    padding-left: 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.searchBox .fas {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.875rem;
}

.profile {
    width: 15%;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.5;
    margin: 0;
}

.profile:hover {
    transition: 0.5s;
    background-color: #2A3748;
}


.profileImage {
    width: 20%;
    margin: 10px;
    border-radius: 100%;
}

.bottom {
    height: 93%;
    overflow-y: auto;
}

/* Profile */
.backProfile {
    height: 100vh;
    background-color: #111827;
    overflow-y: hidden;
}

.topBar {
    height: 7%;
    background-color: #1F2937;
    border-bottom: 1px solid #374151;
    display: flex;
    align-items: center;
}

.backToDash {
    width: 100%;
    color: #fff;
    font-size: 1.25em;
    margin-left: 10px;
}

.backToDash input {
    width: 15%;
    outline: none;
    border: none;
    background-color: #1F2937;
    padding: 8px 10px;
    color: #fff;
    font-size: 1.25em;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.backToDash input:hover {
    background-color: #2A3748;
    transition: 0.5s;
}

.backToDash .fas {
    position: absolute;
    top: 23px;
    left: 23px;
}

.panelProfile {
    height: 93%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: #1F2937;
}

.card .title {
    margin: 10px;
    padding: 10px;
}

.card span {
    width: 100%;
    border-bottom: 2px solid #374151;
}

.profilImage {
    width: 25%;
    padding: 20px;
    border-radius: 100%;
}

.pseudo {
    font-weight: 300;
    font-size: 30px;
    padding: 5px;
}

.rank {
    margin: 10px;
    padding: 5px;
    width: 95%;
    font-size: 20px;
    text-align: center;
    background-color: #2A2489;
    border-radius: 5px;
}

.infos {
    border: 2px solid #4F46E5;
    width: 95%;
    height: 29%;
    margin-top: 0px;
    font-weight: 300;
}

.infosName {
    background-color: #4F46E5;
    text-align: center;
    padding: 5px;
}

.infos div {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
}

.infos div p {
    font-size: 12px;
    margin-left: 10px;
}

.datas {
    width: 95%;
    height: 80%;
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputBxProfile {
    position: relative;
}

.inputBxProfile input {
    outline: none;
    border: none;
    border: 1px solid #374151;
    background: #111827;
    padding: 10px 10px;
    padding-left: 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.inputBxProfile .fas {
    position: absolute;
    top: 13px;
    left: 15px;
    font-size: 1.1rem;
}

.inputBxProfile button {
    border: 1px solid #374151;
    background: #4F46E5;
    padding: 10px 60px;
    border-radius: 4px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    transition: 1.5s;
}

.inputBxProfile button:hover {
    cursor: pointer;
    background-color: #0C2595;
    transition: 0.5s;
}

.datas .inputBxProfile .imageSelector {
    cursor: pointer;
    outline: none;
    border: none;
    border: 1px solid #374151;
    background: #111827;
    padding: 10px 10px;
    padding-left: 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
}

.datas .inputBxProfile .fas-fa {
    position: absolute;
    top: 4px;
    left: 13px;
}

/* Xterm (Terminal) */
.xterm-rows {
    font-family: 'Space Mono', normal !important;
}